<header>
    <div class="navbar">
        <div class="navbar-wrap">
            <a class="logo">
                <img src="../../assets/images/blogr-landing-page/logo.svg" alt="Arcturian dev logo" width="100">
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="javascript:void(0)">Product</a>
                        <img class="arrow-animation ms-2" src="../../../assets/images/blogr-landing-page/icon-arrow-light.svg"><br>
                        <div class="list">
                            <div class="list-items">
                                <a href="javascript:void(0)">Contact</a>
                                <a href="javascript:void(0)">Newsteller</a>
                                <a href="javascript:void(0)">LinkedIn</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Company</a>
                        <img class="arrow-animation ms-2" src="../../../assets/images/blogr-landing-page/icon-arrow-light.svg"><br>
                        <div class="list">
                            <div class="list-items">
                                <a href="javascript:void(0)">Contact</a>
                                <a href="javascript:void(0)">Newsteller</a>
                                <a href="javascript:void(0)">LinkedIn</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Connect</a>
                        <img class="arrow-animation ms-2" src="../../../assets/images/blogr-landing-page/icon-arrow-light.svg"><br>
                        <div class="list">
                            <div class="list-items">
                                <a href="javascript:void(0)">Contact</a>
                                <a href="javascript:void(0)">Newsteller</a>
                                <a href="javascript:void(0)">LinkedIn</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <a class="btn-login">Login</a>
            <a class="btn-signup">Sign Up</a>
        </div>
    </div>
    <div class="bg-container"></div>
</header>

<main>
    <section id="section-1">
        <div class="content">
            <h1>A modern publishing platform</h1>
            <p class="py-3">Grow your audience and build your online brand</p>
            <a class="btn-start">Start for Free</a>
            <a class="btn-learn">Learn More</a>
        </div>
    </section>
    <section id="section-2">
        <div class="content">
            <div class="row">
                <h2>Designed for the future</h2>
                <div class="col-6 ps-10">
                    <div class="card-details">
                        <h3>Introducing an extensible editor</h3>
                        <p>Blogr features an exceedingly intuitive interface which lets you focus on one thing: creating
                            content. The editor supports management of multiple blogs and allows easy manipulation of embeds
                            such as images, videos, and Markdown. Extensibility with plugins and themes provide easy ways to
                            add functionality or change the looks of a blog.</p>
                    </div>
                    <div class="card-details">
                        <h3>Robust content management</h3>
                        <p>Flexible content management enables users to easily move through posts. Increase the usability of
                            your blog by adding customized categories, sections, format, or flow. With this functionality,
                            you’re in full control.</p>
                    </div>
    
                </div>
                <div class="col-6">
                    <img src="../../assets/images/blogr-landing-page/illustration-editor-desktop.svg" alt="Editor desktop"
                        width="100%">
                </div>
            </div>
        </div>
    </section>
    <section id="section-3">
        <div class="bg-circle"></div>
        <div class="row">
            <div class="col-6">
                <img src="../../assets/images/blogr-landing-page/illustration-phones.svg" alt="icon-3" width="100">
            </div>
            <div class="col-6">
                <div class="card-details">
                    <h3>State of the Art Infrastructure</h3>
                    <p>With reliability and speed in mind, worldwide data centers provide the backbone for ultra-fast
                        connectivity. This ensures your site will load instantly, no matter where your readers are, keeping
                        your site competitive.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="section-4">
        <div class="row">
            <div class="col-6">
                <img src="../../assets/images/blogr-landing-page/illustration-laptop-desktop.svg" alt="icon-4" width="100">
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-container">
                        <h3>Free, open, simple</h3>
                        <p>Blogr is a free and open source application backed by a large community of helpful developers. It
                            supports features such as code syntax highlighting, RSS feeds, social media integration, third-party
                            commenting tools, and works seamlessly with Google Analytics. The architecture is clean and is
                            relatively easy to learn.</p>
                    </div>
                    <div class="card-container">
                        <h3>Powerful tooling</h3>
                        <p>Batteries included. We built a simple and straightforward CLI tool that makes sustomization and deployment 
                            a breeze, but capable of producing even the most complicated sites.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="row h-100">
        <div class="col-3">
            <div class="logo">
                <img src="../../assets/images/blogr-landing-page/logo.svg" alt="Arcturian dev logo" width="100">
            </div>
        </div>
        <div class="col-9">
            <div class="nav row">
                <aside class="col-4">
                    <h5>Product</h5>
                    <ul>
                        <li><a href="javascript:void(0)">Overview</a></li>
                        <li><a href="javascript:void(0)">Pricing</a></li>
                        <li><a href="javascript:void(0)">Marketplace</a></li>
                        <li><a href="javascript:void(0)">Featured</a></li>
                        <li><a href="javascript:void(0)">Integrations</a></li>
                    </ul>
                </aside>
                <aside class="col-4">
                    <h5>Company</h5>
                    <ul>
                        <li><a href="javascript:void(0)">About</a></li>
                        <li><a href="javascript:void(0)">Team</a></li>
                        <li><a href="javascript:void(0)">Blog</a></li>
                        <li><a href="javascript:void(0)">Careers</a></li>
                    </ul>
                </aside>
                <aside class="col-4">
                    <h5>Connect</h5>
                    <ul>
                        <li><a href="javascript:void(0)">Contact</a></li>
                        <li><a href="javascript:void(0)">Newsletter</a></li>
                        <li><a href="javascript:void(0)">LinkedIn</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</footer>