<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div id="cards" class="bg-gradient-custom animate__animated animate__fadeInLeft animate__slow">
        <div class="cardholder">
          <div class="card-1 bounce-1">
            <div class="container p-4 h-100">
              <div class="card-logo">
                <img src="../../../assets/images/interactive-card-details-form/card-logo.svg" alt="">
              </div>
              <div class="card-content">
                <h3 class="card-number">{{ this.cardNumber ? this.cardNumber : '0000 0000 0000 0000' }}</h3>
              </div>
              <div class="card-holder">
                <div class="d-flex justify-content-between">
                  <div class="card-name">
                    <span>{{ this.name ? this.name : 'Steven Spilberg' }}</span>
                  </div>
                  <div class="card-expiry">
                    <span>{{ this.expiryMonth ? this.expiryMonth : '00' }} / {{ this.expiryYear ? this.expiryYear : '00' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-2 bounce-2">
            <div class="cvc">
              <span>{{ this.cvc ? this.cvc : '000' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <div class="container">
        <div class="form">

          <div class="success-screen" #sucess>
            <img src="../../../assets/images/interactive-card-details-form/icon-complete.svg" alt="" srcset="">
            <h3>Thank you!</h3>
            <p>We've added your card details</p>
            <button class="btn btn-primary" (click)="onReset()">Continue</button>
          </div>

          <form #form method="post" class="animate__animated animate__backInRight animate__normal">
            <div class="form-group">
              <label for="name">Cardholder Name</label>
              <input
              #nameField
              (keyup)="onKeyPressCardholderName($event)"
              type="text" 
              id="nameField"
              name="nameField"
              class="form-control"
              placeholder="e.g. Steven Spilberg"
              required>
              <span *ngIf="submitted == true && name.length === 0" class="text-warn">Can't be blank</span>
            </div>
            <div class="form-group mt-2 ">
              <label for="email">Card Number</label>
              <input 
              #cardNumberField
              (keyup)="onKeyPressCardNumber($event)"
              type="tel"
              id="cardNumberField"
              name="cardNumberField"
              class="form-control" 
              maxlength="19" 
              placeholder="e.g. 9591 6489 6389 1010"
              required>
              <span *ngIf="submitted == true && cardNumber.length === 0" class="text-warn">Wrong format, numbers only</span>
            </div>
            <div class="form-group mt-2">
              <div class="d-flex">
                <div class="col-6 pe-2">
                  <label for="expiry">Exp. Date (MM/YY)</label>
                  <div class="d-flex">
                    <div class="col-6 pe-2">
                      <input 
                      (keyup)="onKeyPressExpiryMonth($event)"
                      type="text"
                      class="form-control"
                      id="expiry"
                      name="expiry"
                      placeholder="MM"
                      maxlength="2"
                      required>
                      <span *ngIf="submitted == true && expiryMonth.length < 2 || submitted == true && expiryYear.length < 2" class="text-warn">Can't be blank</span>
                    </div>
                    <div class="col-6">
                      <input 
                      (keyup)="onKeyPressExpiryYear($event)"
                      type="text" 
                      class="form-control" 
                      id="cvc" 
                      name="cvc" 
                      placeholder="YY"
                      maxlength="2"
                      required>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <label for="address">CVC</label>
                  <input 
                  (keyup)="onKeyPressCardCvv($event)"
                  type="password" 
                  class="form-control" 
                  id="cvc" 
                  name="cvc" 
                  placeholder="876" 
                  maxlength="3"
                  required>
                  <span *ngIf="submitted == true && cvc.length < 3" class="text-warn">Can't be blank</span>
                </div>
              </div>
            </div>
            
            <div class="d-grid ">
              <a class="btn btn-primary mt-4" type="submit" (click)="onSubmit()">Confirm</a>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="attribution px-5 w-100 animate__animated animate__bounceInUp animate__delay-3s">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="https://github.com/ignaciocorball/frontendmentor-challenges/junior/interactive-card-details-form">Arcturian.dev</a>.
  </div>