
<div class="container">
    <div class="qr-card animate__animated animate__bounceInUp" (mouseover)="toggleBG(0)" (mouseout)="toggleBG(1)">
        <div class="qr-header">
            <img src="../../../assets/images/qr-code-main/image-qr-code.png" alt="" srcset="">
        </div>
        <div class="qr-body">
            <h4>Improve your front-end skills by building projects</h4>
            <p>Scan the QR code to visit Frontend Mentor and take your coding skills to the next level</p>
        </div>
    </div>
</div>

<div class="attribution px-5 w-100 animate__animated animate__bounceInUp animate__delay-1s" id="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="https://github.com/ignaciocorball/frontendmentor-challenges">Arcturian.dev</a>.
</div>
