<app-loader></app-loader>

<header>
    <div class="navbar">
        <div class="container navbar-wrap">
            <a href="#" class="logo">
                <img src="../../assets/images/logo_lined.svg" alt="Arcturian dev logo" width="50">
            </a>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="home#about-me">About me</a></li>
                    <li><a href="home#skillsets">Skillsets</a></li>
                    <li><a href="home#projects">Projects</a></li>
                    <li><a href="home#">Codepen</a></li>
                </ul>
            </nav>
            <a target="__blank" href="//linkedin.com/in/ignacio-corball-905339191/" class="btn btn-outline-primary">Contact</a>
        </div>
    </div>
</header>

<main>
    <section id="about-me" class="container main-container">
        <div class="home-text">
            <p>Hello, I'm</p>
            <p class="my-2">
                <span class="typed-text"></span>
                <span class="machine-line blink">&nbsp;</span>
            </p>
            <h5>Creative front-end website developer</h5>
            <div class="home-buttons">
                <button class="btn-download" href="#">See projects</button>
                <div class="home-socials">
                    <a target="__blank" aria-label="github" title="github" href="//github.com/ignaciocorball" class="color_1">
                        <fa-icon [icon]="faGithub" style="font-size: 1.5rem"></fa-icon>
                    </a>
                    <a target="__blank" aria-label="linkedin" title="linkedin" href="//linkedin.com/in/ignacio-corball-905339191/" class="color_1 ms-2">
                        <fa-icon [icon]="faLinkedin" style="font-size: 1.5rem"></fa-icon>
                    </a>
                    <a target="__blank" aria-label="codepen" title="codepen" href="//codepen.io/ignaciocorball" class="color_1 ms-2">
                        <fa-icon [icon]="faCodepen" style="font-size: 1.5rem"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        <img class="svg-rect bounce-1"
            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzI1IiBoZWlnaHQ9Ijk5MCIgdmlld0JveD0iMCAwIDcyNSA5OTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHg9IjY2My45NzMiIHk9Ii00NTQiIHdpZHRoPSIxMjcwLjAzIiBoZWlnaHQ9IjkzOSIgcng9IjE1IiB0cmFuc2Zvcm09InJvdGF0ZSg0NSA2NjMuOTczIC00NTQpIiBmaWxsPSJ1cmwoI3BhaW50MF9saW5lYXIpIi8+CjxkZWZzPgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXIiIHgxPSI2NjMuOTczIiB5MT0iLTQ1NCIgeDI9IjE1NTkuNjMiIHkyPSI3NTcuNDEyIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CjxzdG9wIHN0b3AtY29sb3I9IiM2QTk4RjAiLz4KPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjNDk2MURDIi8+CjwvbGluZWFyR3JhZGllbnQ+CjwvZGVmcz4KPC9zdmc+Cg=="
            alt="">
        <div class='sk-cube-grid'>
            <div class='sk-cube sk-cube-1'></div>
            <div class='sk-cube sk-cube-2'></div>
            <div class='sk-cube sk-cube-3'></div>
            <div class='sk-cube sk-cube-4'></div>
            <div class='sk-cube sk-cube-5'></div>
            <div class='sk-cube sk-cube-6'></div>
            <div class='sk-cube sk-cube-7'></div>
            <div class='sk-cube sk-cube-8'></div>
            <div class='sk-cube sk-cube-9'></div>
        </div>

        <div class="home-card">
            <div class="card-body">
                <pre>1&nbsp;&nbsp;class <b>Portfolio</b> <!-- -->{{ '{' }} </pre>
                <pre>2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; constructor()  {{ '{' }} </pre>
                <pre>3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.dev = "<b>Ignacio Corball</b>";</pre>
                <pre>4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.stack = ["<b>SCSS</b>", "<b>ANGULAR</b>", "<b>TS</b>"];</pre>
                <pre>5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.type = "<b>Frontend</b>"; </pre>
                <pre>6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.arch = ["<b>Linux</b>", "<b>Firebase</b>"]; </pre>
                <pre>7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }</pre>
                <pre>8&nbsp;&nbsp; }</pre>
            </div>
            <div class="card-colors">
                <div class="color color_1"></div>
                <div class="color color_2"></div>
                <div class="color color_3"></div>
                <div class="color color_4"></div>
                <div class="color color_5"></div>
            </div>
        </div>
    </section>

    <section class="container things-i-love">
        <h2 class="title-2">Things I love <fa-icon [icon]="faHeart" style="font-size: 1.5rem; color: #F43962"></fa-icon>
        </h2>
        <div class="card-holder">
            <div class="card-skills bounce-1">
                <div class="icon">
                    <fa-icon class="icon-fa-skills" [icon]="faCode"></fa-icon>
                </div>
                <h3>FrontEnd</h3>
                <p>I'm more front end focused and love to work with Angular as well as pure HTML and SCSS.</p>
            </div>
            <div class="card-skills bounce-2">
                <div class="icon">
                    <fa-icon class="icon-fa-skills" [icon]="faJs"></fa-icon>
                </div>
                <h3>Javascript</h3>
                <p>I just extremely love javascript, I can’t even express how much I love javascript with just a few
                    lines.
                </p>
            </div>
            <div class="card-skills bounce-3">
                <div class="icon">
                    <fa-icon class="icon-fa-skills" [icon]="faPaintBrush"></fa-icon>
                </div>
                <h3>Creative Coding</h3>
                <p>I love creative coding because I do both coding & designing. making beautiful art with code is very
                    satisfying to me.</p>
            </div>
        </div>
    </section>

    <section id="skillsets" class="container skillset">
        <h2>Project Skillsets</h2>
        <div class="skill-icons">
            <fa-icon [icon]="faAngular"></fa-icon>
            <fa-icon [icon]="faHtml5"></fa-icon>
            <fa-icon [icon]="faSass"></fa-icon>
            <fa-icon [icon]="faNode"></fa-icon>
        </div>
        <div class="parallax-outer">
            <div class="parallax-inner" style="transform: translate3d(0%, -333px, 0px);">
                <p *ngFor="let element of techBrands"
                    [ngStyle]="{'top':element.top, 'left':element.left,'font-size':element.fs}"> {{ element.name }}</p>
            </div>
        </div>
    </section>

    <section id="projects" class="carousel">
        <div class="carousel-bg"></div>
        <div class="carousel-container">
            <!-- Swiper attributes -->
            <!-- [pagination]="pagination" -->
            <swiper #swiperChallenges [slidesPerView]="'auto'" [spaceBetween]="20" [loop]="true" class="mySwiper"
                (swiper)="setSwiperInstance($event)">
                <ng-template swiperSlide *ngFor="let element of carouselProjects">
                    <div class="" [routerLink]="element.link"> </div>
                    <img src="../../{{ element.image }}" alt="">
                    <div class="overlay-text" [routerLink]="element.link">
                        <!--<a class="{{ element.icon }}"></a> -->
                        <h3>{{ element.title }}</h3>
                        <p>Difficulty: [ <a [ngClass]="'level-' + element.level">{{element.level}}</a> ]</p>
                    </div>
                </ng-template>
            </swiper>
            <p class="carousel-engine">powered by swiperjs</p>
        </div>
    </section>

    <section id="concepts">
        <div class="container">
            <h2 class="title-2">Projects, Designs & Ideas 💡​</h2>

            <div class="blog-slider">
                <div class="blog-slider__wrp swiper-wrapper">
                  <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                      <img src="../../assets/images/home/merchants-patagonia-delivery/merchants.png" alt="Patagonia Delivery Merchants Dashboard">
                    </div>
                    <div class="blog-slider__content">
                      <span class="blog-slider__code">01 October 2022</span>
                      <div class="blog-slider__title"><img src="../../assets/images/home/merchants-patagonia-delivery/logo-full.png" alt="Patagonia Delivery" class="img-logo"></div>
                      <div class="blog-slider__text">Restaurant food dashboard with full delivery service asociated</div>
                      <a href="https://negocios.patagonia.delivery/" target="_blank" class="blog-slider__button">Visit Website</a>
                    </div>
                  </div>
                </div>
                <div class="blog-slider__pagination"></div>
            </div>

            <div class="blog-slider">
                <div class="blog-slider__wrp swiper-wrapper">
                  <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                      <img src="../../assets/images/home/chilebuilders/homepage_1.png" alt="">
                    </div>
                    <div class="blog-slider__content">
                      <span class="blog-slider__code">22 November 2022</span>
                      <div class="blog-slider__title"><img src="../../assets/images/home/chilebuilders/Logo.png" alt="Chile Builders" class="img-logo"></div>
                      <div class="blog-slider__text">Architect software concept prototiped in Figma</div>
                      <a href="https://www.figma.com/file/8ciigv89S1kRGWPVb68dAQ/ChileBuilders?node-id=0%3A1&t=iqFaXWzphXeY7B7S-1" target="_blank" class="blog-slider__button">Visit on Figma</a>
                    </div>
                  </div>
                </div>
                <div class="blog-slider__pagination"></div>
            </div>



        </div>
    </section>

    <section id="codepen">
        <div class="container-waves">
            <div class="wave wave1"></div>
            <div class="wave wave2"></div>
            <div class="wave wave3"></div>
            <div class="wave wave4"></div>
        </div>
        <div class="container">
            <div class="projects mt-4 text-center">
                <h2 class="title-2">Codepen Components 💠​</h2>
                <div class="row">
                    <div class="col-6">
                        <div class="project-text">
                            <h5>Glitched Text Animation</h5>
                        </div>
                        <iframe src="https://codepen.io/ignaciocorball/embed/ZExZbLa" frameborder="0" width="100%" height="300px"></iframe>
                    </div>
                    <div class="col-6">
                        <div class="project-text">
                            <h5>Moon & Sun switch</h5>
                        </div>
                        <iframe src="https://codepen.io/ignaciocorball/embed/wvmYRGV" frameborder="0" width="100%" height="300px"></iframe>
                    </div>
                    <div class="col-6">
                        <div class="project-text">
                            <h5>Inputs custom color animation</h5>
                        </div>
                        <iframe src="https://codepen.io/ignaciocorball/embed/LYQMKYd" frameborder="0" width="100%" height="340px"></iframe>
                    </div>
                    <div class="col-6">
                        <div class="project-text">
                            <h5>Hamburgers animation</h5>
                        </div>
                        <iframe src="https://codepen.io/ignaciocorball/embed/JjpxjoM" frameborder="0" width="100%" height="340px"></iframe>
                    </div>
                    <div class="col-12">
                        <div class="project-text">
                            <h5>Cards Hover Animation</h5>
                        </div>
                        <iframe src="https://codepen.io/ignaciocorball/embed/KKQbjGm" frameborder="0" width="100%" height="450px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <script src="https://static.codepen.io/assets/embed/ei.js"></script>
</footer>