<header>
    <div class="navbar">
        <div class="navbar-wrap">
            <a class="logo">
                <img src="../../assets/images/logo_lined.svg" alt="Arcturian dev logo" width="50">
            </a>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About me</a></li>
                    <li><a href="javascript:void(0)" (click)="scrollToBottom()">Skillsets</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Concepts</a></li>
                </ul>
            </nav>
            <a class="btn btn-outline-primary">Contact</a>
        </div>
    </div>
</header>

<main>
    <section class="main-container">
        <img class="svg-rect bounce-1"
            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzI1IiBoZWlnaHQ9Ijk5MCIgdmlld0JveD0iMCAwIDcyNSA5OTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHg9IjY2My45NzMiIHk9Ii00NTQiIHdpZHRoPSIxMjcwLjAzIiBoZWlnaHQ9IjkzOSIgcng9IjE1IiB0cmFuc2Zvcm09InJvdGF0ZSg0NSA2NjMuOTczIC00NTQpIiBmaWxsPSJ1cmwoI3BhaW50MF9saW5lYXIpIi8+CjxkZWZzPgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXIiIHgxPSI2NjMuOTczIiB5MT0iLTQ1NCIgeDI9IjE1NTkuNjMiIHkyPSI3NTcuNDEyIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CjxzdG9wIHN0b3AtY29sb3I9IiM2QTk4RjAiLz4KPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjNDk2MURDIi8+CjwvbGluZWFyR3JhZGllbnQ+CjwvZGVmcz4KPC9zdmc+Cg=="
            alt="">
        <div class='sk-cube-grid'>
            <div class='sk-cube sk-cube-1'></div>
            <div class='sk-cube sk-cube-2'></div>
            <div class='sk-cube sk-cube-3'></div>
            <div class='sk-cube sk-cube-4'></div>
            <div class='sk-cube sk-cube-5'></div>
            <div class='sk-cube sk-cube-6'></div>
            <div class='sk-cube sk-cube-7'></div>
            <div class='sk-cube sk-cube-8'></div>
            <div class='sk-cube sk-cube-9'></div>
        </div>
        <div class="home-text">
            <p>Hello, I'm</p>
            <p class="my-2">
                <span class="typed-text"></span>
                <span class="machine-line blink">&nbsp;</span>
            </p>
            <h5>Creative front-end website developer</h5>
            <div class="home-buttons">
                <button class="btn-download" href="#">See projects</button>
                <div class="home-socials">
                    <a target="__blank" aria-label="github" title="github" href="//github.com/ignaciocorball"
                        class="color_1">
                        <fa-icon [icon]="faGithub" style="font-size: 1.5rem"></fa-icon>
                    </a>
                    <a target="__blank" aria-label="twitter" title="twitter" href="//twitter.com/ignaciocorball"
                        class="color_1 ms-5">
                        <fa-icon [icon]="faTwitter" style="font-size: 1.5rem"></fa-icon>
                    </a>
                    <a target="__blank" aria-label="codepen" title="codepen" href="//codepen.io/ignaciocorball"
                        class="color_1 ms-5">
                        <fa-icon [icon]="faCodepen" style="font-size: 1.5rem"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="home-card">
            <div class="card-body">
                <pre>1&nbsp;&nbsp;class <b>Portfolio</b> <!-- -->{{ '{' }} </pre>
                <pre>2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; constructor()  {{ '{' }} </pre>
                <pre>3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.dev = "<b>Ignacio Corball</b>";</pre>
                <pre>4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.stack = ["<b>SCSS</b>", "<b>ANGULAR</b>", "<b>TS</b>"];</pre>
                <pre>5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.type = "<b>Frontend</b>"; </pre>
                <pre>6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.arch = ["<b>Linux</b>", "<b>Firebase</b>"]; </pre>
                <pre>7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }</pre>
                <pre>8&nbsp;&nbsp; }</pre>
            </div>
            <div class="card-colors">
                <div class="color color_1"></div>
                <div class="color color_2"></div>
                <div class="color color_3"></div>
                <div class="color color_4"></div>
                <div class="color color_5"></div>
            </div>
        </div>
    </section>

    <h2 class="title-2">Things I love <fa-icon [icon]="faHeart" style="font-size: 1.5rem; color: #F43962"></fa-icon>
    </h2>
    <div class="card-holder">
        <div class="card-skills bounce-1">
            <div class="icon">
                <fa-icon class="icon-fa-skills" [icon]="faCode"></fa-icon>
            </div>
            <h3>FrontEnd</h3>
            <p>I'm more front end focused and love to work with Angular as well as pure HTML and SCSS.</p>
        </div>
        <div class="card-skills bounce-2">
            <div class="icon">
                <fa-icon class="icon-fa-skills" [icon]="faJs"></fa-icon>
            </div>
            <h3>Javascript</h3>
            <p>I just extremely love javascript, I can’t even express how much I love javascript with just a few lines.
            </p>
        </div>
        <div class="card-skills bounce-3">
            <div class="icon">
                <fa-icon class="icon-fa-skills" [icon]="faPaintBrush"></fa-icon>
            </div>
            <h3>Creative Coding</h3>
            <p>I love creative coding because I do both coding & designing. making beautiful art with code is very
                satisfying to me.</p>
        </div>
    </div>

    <section class="skillset" id="skillsetSection" #skillsetSection>
        <h2>Project Skillsets</h2>
        <div class="skill-icons">
            <fa-icon [icon]="faAngular"></fa-icon>
            <fa-icon [icon]="faHtml5"></fa-icon>
            <fa-icon [icon]="faSass"></fa-icon>
            <fa-icon [icon]="faNode"></fa-icon>
        </div>
        <div class="parallax-outer">
            <div class="parallax-inner" style="transform: translate3d(0%, -333px, 0px);">
                <p *ngFor="let element of techBrands"
                    [ngStyle]="{'top':element.top, 'left':element.left,'font-size':element.fs}"> {{ element.name }}</p>
            </div>
        </div>
    </section>

    <section class="carousel">
        <div class="carousel-bg"></div>
        
        <div class="carousel-container">
            <!-- Swiper attributes -->
            <!-- [pagination]="pagination" -->
            <swiper  
                #swiperChallenges
                [slidesPerView]="'auto'"
                [spaceBetween]="20"
                [loop]="true"
                class="mySwiper"
                (swiper)="setSwiperInstance($event)"
                >
                <ng-template swiperSlide *ngFor="let element of carouselProjects">
                    <div class="" [routerLink]="element.link"> </div>
                    <img src="../../{{ element.image }}" alt="">
                    <div class="overlay-text" [routerLink]="element.link">
                        <!--<a class="{{ element.icon }}"></a> -->
                        <h3>{{ element.title }}</h3>
                        <p *ngIf="element.level == 1">Dificultad: [ <a class="level-1">{{element.level}}</a> ]</p>
                        <p *ngIf="element.level == 2">Dificultad: [ <a class="level-2">{{element.level}}</a> ]</p>
                        <p *ngIf="element.level == 3">Dificultad: [ <a class="level-3">{{element.level}}</a> ]</p>
                        <p *ngIf="element.level == 4">Dificultad: [ <a class="level-4">{{element.level}}</a> ]</p>
                        <p *ngIf="element.level == 5">Dificultad: [ <a class="level-5">{{element.level}}</a> ]</p>
                    </div>
                </ng-template>
            </swiper>
            <p class="carousel-engine">powered by swiperjs</p>
        </div>
    </section>

</main>

<footer>

</footer>