@import "~swiper/css";
@import "~swiper/css/pagination";
@import url('https://cdn.jsdelivr.net/gh/ignaciocorball/FA6PRO/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
}

$color_bg: rgb(248, 248, 248);
$color_white: #fff;
$color_1: #6D83F2;
$color_2: #6A98F0;
$color_3: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
$color_4: #383838;
$color_5: #C7D0FF;

*{
    font-family: 'Montserrat', sans-serif;
}
body,html{
    overflow-x: hidden;
}

.navbar{
    position: fixed;
    top: 0px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    height: 70px;
    width: 100vw;
    background-color: $color_bg;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    z-index: 1000;

    .navbar-wrap{
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        align-items: center;
        margin: 0 auto;
        width: 80%;

        nav ul{
            margin: 0px;
            list-style: none;
            display: flex;
            -moz-box-align: center;
            align-items: center;
            transition: all 0.2s ease 0s;
            list-style: none;
            padding: 0px;
            line-height: 150%;

            li{
                margin-left: 30px;
                display: inline-block;
                text-align: center;
            }
            a{
                font-size: 14px;
                font-weight: 700;
                &:hover{
                    color: $color_4;
                }
            }
        }
    }
    a{
        color: $color_2;
        text-decoration: none;
        background-color: transparent;
    }
    .btn-outline-primary{
        margin-left: auto;
        color: $color_2;
        border-color: $color_2;
        font-weight: 700;
        &:hover{
            background-color: $color_2;
            color: $color_white;
        }
    }
    .logo{
        margin-right: auto;
        cursor: pointer;

        img{
            flex-basis: 100px;
            max-width: 50px;
            margin-bottom: 10px;
        }
    }
}

main{
    min-height: calc(-125px + 100vh);
    margin: auto;
    margin-top: 125px;
    margin-bottom: 50px;
    width: 80%;

    .main-container{
        display: flex;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: justify;
        justify-content: space-between;
        margin-bottom: 100px;
    
        .svg-rect{
            width: 40%;
            position: absolute;
            top: 50px;
            right: 0px;
            z-index: -1;
        }
    
        .home-text{
            animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal forwards running dzpZbq;
            z-index: 1;
            text-decoration: none;

            a{
                text-decoration: none;
            }
            p{
                color: $color_4;
                font-size: 16px;
                margin: 0px;
                line-height: 150%;
            }
            .typed-text{
                margin: -4px 0px;
                color: $color_4;
                font-size: 2.5rem;
                font-weight: 800;
                text-transform: uppercase;
                line-height: 2rem;
            }
            h5{
                color: $color_4;
                text-transform: uppercase;
                font-size: 1.06rem;
            }
            .home-buttons {
                width: max-content;
                margin-top: 30px;

                .btn-download {
                    color: rgb(248, 248, 248);
                    border: medium none;
                    cursor: pointer;
                    transition: all 0.2s ease 0s;
                    width: auto;
                    height: auto;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 12px;
                    border-radius: 5px;
                    background: $color_3;
                    &:hover{
                        transition: all 0.2s ease 0s;
                        transform: scale(1.1);
                    }
                }
                .home-socials {
                    margin-top: 30px;
                    color: rgb(109, 131, 242);
                    display: flex;
                    -moz-box-pack: justify;
                    justify-content: space-between;
                    font-size: 24px;
                    fa-icon {
                        color: $color_1;
                        &:hover{
                            color: $color_4;
                        }
                    }
                }
            }
        }
        
        .home-card{
            position: relative;
            animation: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal forwards running dzpZbq;
            background-color: $color_bg;
            border-radius: 10px;
    
            .card-body{
                padding: 30px 35px;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
                border-radius: 10px;
    
                pre{
                    font-size: 1rem;
                    font-family: "Montserrat", sans-serif;
                    color: rgb(109, 131, 242);
                    b{
                        font-size: 1rem;
                        font-family: "Montserrat", sans-serif;
                        color: rgb(109, 131, 242);
                        font-weight: bolder;
                    }
                }
                
            }
            .card-colors{
                position: absolute;
                bottom: -40px;
                left: -90px;
                display: flex;
                justify-content: space-around;
                background-color: $color_bg;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
                padding: 8px;
                border-radius: 5px;
    
                .color{
                    width: 40px;
                    height: 40px;
                    margin: 3px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.2s ease 0s;
                    position: relative;
                    &:hover{
                        transform: scale(1.1);
                    }
                    &:before {
                        pointer-events: none;
                        position: absolute;
                        text-align: center;
                        content: "Copied";
                        opacity: 0;
                        width: 50px;
                        bottom: -130%;
                        left: 50%;
                        padding: 10px;
                        border-radius: 10px;
                        color: inherit;
                        background: rgb(248, 248, 248) none repeat scroll 0% 0%;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
                        font-size: 10px;
                        transition: all 0.3s ease 0s;
                        transform: translateX(-50%);
                      }
                }
                .color_1{
                    background-color: $color_1;
                }
                .color_2{
                    background-color: $color_2;
                }
                .color_3{
                    background: $color_3;
                }
                .color_4{
                    background-color: $color_4;
                }
                .color_5{
                    background-color: $color_5;
                }
            }
        }
    }

    .title-2 {
        margin: 50px auto;
        font-size: 1.5rem;
        font-weight: 900;
        color: $color_1;
        text-align: center;
        letter-spacing: 1px;
        svg{
            font-size: 1.5rem;
            color: #F43962;
        }
    }
    .card-holder{
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 200px;
        .card-skills{
            margin: 10px;
            flex: 1 1 200px;
            max-width: 300px;
            height: 300px;
            padding: 20px;
            display: flex;
            justify-content: space-evenly;
            -moz-box-align: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            background-color: rgb(248, 248, 248);
            box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
            border-radius: 10px;
            .icon{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: rgba(0, 0, 0, 0) linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%) repeat scroll 0% 0%;
                color: rgb(248, 248, 248);
                line-height: 120px;
                svg{
                    font-size: 2.5rem;
                    color: $color_white;
                }
            }
            h3{
                font-weight: 500;
                color: rgb(109, 131, 242);
            }
            p{
                font-size: 14px;
            }
        }
    }
    .skillset{
        margin-bottom: 100px;
        position: relative;
        h2{
            margin: 100px auto;
            font-size: 1.5rem;
            font-weight: 900;
            color: rgb(109, 131, 242);
            text-align: center;
            letter-spacing: 1px;
        }
        .skill-icons{
            padding: 30px 0px;
            display: flex;
            justify-content: space-around;
            -moz-box-align: center;
            align-items: center;
            flex-wrap: wrap;
            svg{
                font-size: 5rem;
                color: $color_1;
            }
        }
        .parallax-outer{
            position: absolute;
            color: rgb(199, 208, 255);
            z-index: -1;
            left: 0px;
            right: 0px;
            font-weight: 900;
            user-select: none;
            p{
                position: absolute;
                color: rgb(199, 208, 255);
                z-index: -1;
                left: 0px;
                right: 0px;
                font-weight: 600;
                font-size: 15px;
                user-select: none;
            }
        }
    }

    .carousel{
        margin-bottom: 100px;
        margin-top: 100px;
        width: 100%;
        height: 100%;
        .carousel-bg{
            position: absolute;
            background: linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%) repeat scroll 0% 0%;
            transform: skewY(-3deg);
            right: 0px;
            left: -30%;
            width: 200%;
            min-height: 630px;
            max-height: 740px;
        }
        span{
            position: absolute;
            font-family: 'Berkshire Swash', Helvetica, sans-serif;
            font-size: 1.2rem;
            color: $color_white;
            right: 0;
            margin-top: 50px;
            transform: rotateZ(-3deg);
            font-weight: 800;
        }
        .carousel-container{
            padding: 140px 0px;
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            h3{
                color: $color_white;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 20px;
            }
            .carousel-engine{
                margin: 15px auto;
                text-align: center;
                font-size: 1.1rem;
                font-weight: 400;
                font-family: 'Rubik Distressed', cursive;
                color: $color_white;
            }
            .swiper {
              width: 100%;
              height: 350px;
              padding: 30px;
            }
            .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
                
            }
            .swiper-pagination-bullet-active{
                background: $color_2;
            }
            .swiper-slide {
              cursor: pointer;
              max-width: 450px;
              border-radius: 15px;
              text-align: center;
              font-size: 18px;
              background: #fff;
              display: -webkit-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              -webkit-justify-content: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              -webkit-align-items: center;
              align-items: center;
              box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

              .overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 20px;
              }
              img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
              }
              .overlay-text{
                position: absolute;
                margin: 0 auto;
                font-weight: 600;
                font-size: 0.7rem;
                color: $color_1;
                background-color: rgb(255, 255, 255);
                padding: 10px;
                border-radius: 0 0 15px 15px;
                bottom: 0;
                width: 100%;
                height: 30%;
                .fa-solid{
                    padding: 10px;
                    font-size: 2.5rem;
                    color: $color_white;
                }
                h3{
                    font-size: 1.2rem;
                    margin-top: 5px;
                    margin-bottom: 0;
                    color: $color_1;
                }
                p{
                    font-size: 15px;
                    padding: 0;
                    margin: 10px auto;
                    a{
                        font-size: 0.9rem;
                        font-weight: 600;
                    }
                }
                .level-1{
                    color: #6ABECD;
                }
                .level-2{
                    color: #AAD742;
                }
                .level-3{
                    color: #F1B604;
                }
                .level-4{
                    color: #F48925;
                }
                .level-5{
                    color: #ED2C49;
                }
              }
            }

        }
    }

}


/* Animations */
/* Typermachine */
.machine-line {
    display: inline-block;
    font-size: 3rem;
    width: 4px;
    height: 30px;
    margin-left: 4px;
    background: $color_1;
    .blink {
        animation: blink 0.8s ease-in-out infinite;
      }
  }
  @keyframes blink {
    0%, 100% {
      background: $color_1;
    }
    40%, 50% {
      background: transparent;
    }
  }

/* Cards floating animation */
.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    }
    @keyframes bounce-1 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(5px); }
        100% { transform: translateY(0); }
    }
    .bounce-2 {
      animation-name: bounce-2;
      animation-timing-function: linear;
      animation-duration: 6s;
      animation-iteration-count: infinite;
    }
    @keyframes bounce-2 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-5px); }
        100% { transform: translateY(0); }
    }
    .bounce-3 {
        animation-name: bounce-3;
        animation-timing-function: linear;
        animation-duration: 7s;
        animation-iteration-count: infinite;
      }
    @keyframes bounce-3 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(5px); }
        100% { transform: translateY(0); }
    }

/* Figures animation */
$spinkit-size: 4em !default;
$spinkit-spinner-color: $color_bg !default;
.sk-cube-grid {
    $delayRange: 0.4s;
    width: $spinkit-size;
    height: $spinkit-size;
    margin: auto;
    position: absolute;
    right: 5px;
    top: 12%;
    .sk-cube {
      width: 33%;
      height: 33%;
      background-color: $spinkit-spinner-color;
      float: left;
      animation: sk-cube-grid-scale-delay 1.3s infinite ease-in-out;
    }
    /*
     * Spinner positions
     * 1 2 3
     * 4 5 6
     * 7 8 9
     */
    .sk-cube-1 {
      animation-delay: ($delayRange * 0.50);
    }
    .sk-cube-2 {
      animation-delay: ($delayRange * 0.75);
    }
    .sk-cube-3 {
      animation-delay: $delayRange;
    }
    .sk-cube-4 {
      animation-delay: ($delayRange * 0.25);
    }
    .sk-cube-5 {
      animation-delay: ($delayRange * 0.50);
    }
    .sk-cube-6 {
      animation-delay: ($delayRange * 0.75);
    }
    .sk-cube-7 {
      animation-delay: 0s;
    }
    .sk-cube-8 {
      animation-delay: ($delayRange * 0.25);
    }
    .sk-cube-9 {
      animation-delay: ($delayRange * 0.50);
    }
  }
  @keyframes sk-cube-grid-scale-delay {
    0%, 70%, 100% {
      transform: scale3D(1,1,1);
    }
    35%           {
      transform: scale3D(0,0,1);
    }
  }


